<!-- Es un componente para mostrar que la pagina le falta por estar construido-->




<div class="h-dvh md:mt-35 sm:mt-25 mt-15 bg-jagged-ice-500 flex sm:flex-row  flex-col justify-center items-center text-center">

    <div class="flex flex-col justify-center items-center p-20 col-6">
        <h1 class="text-jagged-ice-50 md:text-6xl text-3xl">Pagina en Construccion</h1>
        <h2 class="text-jagged-ice-50 md:text-3xl text-2xl">Vuelve Pronto</h2>
    </div>
    <div class="animate-gliding col-2">
        <div class="loader ease-linear rounded-full border-2 border-t-8 border-jagged-ice-200 md:h-64 md:w-64 sm:w-48 sm:h-48 w-32 h-32"></div>

    </div>
</div>