<!-- Esto centra unos circulos para hacer el target -->
<div class="animate-gliding flex items-center justify-center rounded-full
            shadow-2xl shadow-red-500/50 ring-4 ring-red-500/60">
    <div class="w-32 h-32 md:w-64 md:h-64 bg-red-500 rounded-full flex items-center justify-center mx-auto my-auto"  >
        <div class="w-24 h-24 md:w-48 md:h-48 bg-white rounded-full flex items-center justify-center mx-auto my-auto">
            <div class="w-16 h-16 md:w-32 md:h-32 bg-red-500 rounded-full flex items-center justify-center text-white">
                
            </div>
        </div>
    </div>
</div>